<h2>Edit meal package</h2>

<%= render "form.html", changeset: @changeset,
                        action: meal_package_path(@conn, :update, @meal_package) %>

<%= link "Back", to: meal_package_path(@conn, :index) %>
